.main-header__wrapper {
  min-width: 320px;
  display: flex;
}

.main-header__logo {
  margin-top: 13px;
  margin-left: 20px;
  margin-right: 56px;
}

.main-header__logo-text {
  margin-top: 23px;
  margin-right: 65px;
}

.main-header__menu {
  background-image: url("../../icons/stack.svg#icon-menu");
  background-repeat: no-repeat;
  border: none;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .main-header__menu {
    display: none;
  }
}
