.meal-plan__link--slim {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}

.meal-plan__item--slim {
  background-image: url("../../icons/stack.svg#cat-slim");
  background-size: 36px 50px;
  background-repeat: no-repeat;
}

.meal-plan__item--pro {
  background-image: url("../../icons/stack.svg#cat-weight");
  background-size: 67px 28px;
  background-repeat: no-repeat;
}

.meal-plan__link--pro {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}

.meal-plan__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.meal-plan__descr {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
